In [16]:
import pandas as pd
import numpy as np

In [2]:
items=pd.read_csv("GroceryStoreDataSet.csv",header=None)
items["transaction"]=np.arange(items.shape[0])
items

                                 0  transaction
0               MILK,BREAD,BISCUIT            0
1    BREAD,MILK,BISCUIT,CORNFLAKES            1
2              BREAD,TEA,BOURNVITA            2
3             JAM,MAGGI,BREAD,MILK            3
4                MAGGI,TEA,BISCUIT            4
5              BREAD,TEA,BOURNVITA            5
6             MAGGI,TEA,CORNFLAKES            6
7          MAGGI,BREAD,TEA,BISCUIT            7
8              JAM,MAGGI,BREAD,TEA            8
9                       BREAD,MILK            9
10  COFFEE,COCK,BISCUIT,CORNFLAKES           10
11  COFFEE,COCK,BISCUIT,CORNFLAKES           11
12          COFFEE,SUGER,BOURNVITA           12
13               BREAD,COFFEE,COCK           13
14             BREAD,SUGER,BISCUIT           14
15         COFFEE,SUGER,CORNFLAKES           15
16           BREAD,SUGER,BOURNVITA           16
17              BREAD,COFFEE,SUGER           17
18              BREAD,COFFEE,SUGER           18
19      TEA,MILK,COFFEE,CORNFLAKES           19

In [3]:
items.columns=["items","transaction"]

In [4]:
items

                             items  transaction
0               MILK,BREAD,BISCUIT            0
1    BREAD,MILK,BISCUIT,CORNFLAKES            1
2              BREAD,TEA,BOURNVITA            2
3             JAM,MAGGI,BREAD,MILK            3
4                MAGGI,TEA,BISCUIT            4
5              BREAD,TEA,BOURNVITA            5
6             MAGGI,TEA,CORNFLAKES            6
7          MAGGI,BREAD,TEA,BISCUIT            7
8              JAM,MAGGI,BREAD,TEA            8
9                       BREAD,MILK            9
10  COFFEE,COCK,BISCUIT,CORNFLAKES           10
11  COFFEE,COCK,BISCUIT,CORNFLAKES           11
12          COFFEE,SUGER,BOURNVITA           12
13               BREAD,COFFEE,COCK           13
14             BREAD,SUGER,BISCUIT           14
15         COFFEE,SUGER,CORNFLAKES           15
16           BREAD,SUGER,BOURNVITA           16
17              BREAD,COFFEE,SUGER           17
18              BREAD,COFFEE,SUGER           18
19      TEA,MILK,COFFEE,CORNFLAKES           19

In [5]:
items_dict={}
total_items=[]
for i in range(items["items"].shape[0]):
    words=items["items"][i].split(",")
    for j in words:
        if j in items_dict :
            items_dict[j].append(i)
        else :
            items_dict[j]=[i]

In [6]:
items_dict

{'MILK': [0, 1, 3, 9, 19],
 'BREAD': [0, 1, 2, 3, 5, 7, 8, 9, 13, 14, 16, 17, 18],
 'BISCUIT': [0, 1, 4, 7, 10, 11, 14],
 'CORNFLAKES': [1, 6, 10, 11, 15, 19],
 'TEA': [2, 4, 5, 6, 7, 8, 19],
 'BOURNVITA': [2, 5, 12, 16],
 'JAM': [3, 8],
 'MAGGI': [3, 4, 6, 7, 8],
 'COFFEE': [10, 11, 12, 13, 15, 17, 18, 19],
 'COCK': [10, 11, 13],
 'SUGER': [12, 14, 15, 16, 17, 18]}

In [7]:
co_df={}
co_df["transaction"]=np.arange(items["items"].shape[0])
for item in items_dict:
    l=np.zeros(items["items"].shape[0],dtype="int")
    l[items_dict[item]]=1
    co_df[item]=l

In [8]:
co_df=pd.DataFrame(co_df).set_index("transaction")
co_df

,MILK,BREAD,BISCUIT,CORNFLAKES,TEA,BOURNVITA,JAM,MAGGI,COFFEE,COCK,SUGER
transaction,,,,,,,,,,,
0,1,1,1,0,0,0,0,0,0,0,0
1,1,1,1,1,0,0,0,0,0,0,0
2,0,1,0,0,1,1,0,0,0,0,0
3,1,1,0,0,0,0,1,1,0,0,0
4,0,0,1,0,1,0,0,1,0,0,0
5,0,1,0,0,1,1,0,0,0,0,0
6,0,0,0,1,1,0,0,1,0,0,0
7,0,1,1,0,1,0,0,1,0,0,0
8,0,1,0,0,1,0,1,1,0,0,0
9,1,1,0,0,0,0,0,0,0,0,0
10,0,0,1,1,0,0,0,0,1,1,0
11,0,0,1,1,0,0,0,0,1,1,0
12,0,0,0,0,0,1,0,0,1,0,1
13,0,1,0,0,0,0,0,0,1,1,0
14,0,1,1,0,0,0,0,0,0,0,1
15,0,0,0,1,0,0,0,0,1,0,1
16,0,1,0,0,0,1,0,0,0,0,1
17,0,1,0,0,0,0,0,0,1,0,1
18,0,1,0,0,0,0,0,0,1,0,1
19,1,0,0,1,1,0,0,0,1,0,0

In [12]:
from mlxtend.frequent_patterns import apriori,association_rules

In [13]:
freq_items=apriori(co_df,min_support=0.1,use_colnames=True)

In [14]:
freq_items

    support                             itemsets
0      0.25                               (MILK)
1      0.65                              (BREAD)
2      0.35                            (BISCUIT)
3      0.30                         (CORNFLAKES)
4      0.35                                (TEA)
5      0.20                          (BOURNVITA)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.40                             (COFFEE)
9      0.15                               (COCK)
10     0.30                              (SUGER)
11     0.20                        (BREAD, MILK)
12     0.10                      (BISCUIT, MILK)
13     0.10                   (CORNFLAKES, MILK)
14     0.20                     (BISCUIT, BREAD)
15     0.20                         (BREAD, TEA)
16     0.15                   (BREAD, BOURNVITA)
17     0.10                         (JAM, BREAD)
18     0.15                       (BREAD, MAGGI)
19     0.15                      (BREAD, COFFEE)
20     0.20                       (BREAD, SUGER)
21     0.15                (CORNFLAKES, BISCUIT)
22     0.10                       (BISCUIT, TEA)
23     0.10                     (BISCUIT, MAGGI)
24     0.10                    (BISCUIT, COFFEE)
25     0.10                      (BISCUIT, COCK)
26     0.10                    (CORNFLAKES, TEA)
27     0.20                 (CORNFLAKES, COFFEE)
28     0.10                   (CORNFLAKES, COCK)
29     0.10                     (BOURNVITA, TEA)
30     0.20                         (MAGGI, TEA)
31     0.10                   (SUGER, BOURNVITA)
32     0.10                         (JAM, MAGGI)
33     0.15                       (COCK, COFFEE)
34     0.20                      (SUGER, COFFEE)
35     0.10               (BISCUIT, BREAD, MILK)
36     0.10              (BREAD, BOURNVITA, TEA)
37     0.10                  (BREAD, MAGGI, TEA)
38     0.10                  (JAM, BREAD, MAGGI)
39     0.10               (BREAD, SUGER, COFFEE)
40     0.10        (CORNFLAKES, BISCUIT, COFFEE)
41     0.10          (CORNFLAKES, BISCUIT, COCK)
42     0.10                (BISCUIT, MAGGI, TEA)
43     0.10              (BISCUIT, COCK, COFFEE)
44     0.10           (CORNFLAKES, COCK, COFFEE)
45     0.10  (CORNFLAKES, BISCUIT, COCK, COFFEE)

In [15]:
rules=association_rules(freq_items,metric="confidence",min_threshold=0.4)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
1,(MILK),(BISCUIT),0.25,0.35,0.1,0.400000,1.142857,0.0125,1.083333
2,(MILK),(CORNFLAKES),0.25,0.30,0.1,0.400000,1.333333,0.0250,1.166667
3,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
4,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
...,...,...,...,...,...,...,...,...,...
70,"(CORNFLAKES, COFFEE)","(BISCUIT, COCK)",0.20,0.10,0.1,0.500000,5.000000,0.0800,1.800000
71,"(BISCUIT, COCK)","(CORNFLAKES, COFFEE)",0.10,0.20,0.1,1.000000,5.000000,0.0800,inf
72,"(BISCUIT, COFFEE)","(CORNFLAKES, COCK)",0.10,0.10,0.1,1.000000,10.000000,0.0900,inf
73,"(COCK, COFFEE)","(CORNFLAKES, BISCUIT)",0.15,0.15,0.1,0.666667,4.444444,0.0775,2.550000
74,(COCK),"(CORNFLAKES, BISCUIT, COFFEE)",0.15,0.10,0.1,0.666667,6.666667,0.0850,2.700000

In [ ]:
p->q
p:antecedents
q:consequents